<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <p>Lugar para poner barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <br>
        <ul>
            <li><a href="#Ofertas">Ofertas</a></li>
            <li><a href="#Tiendas Oficiales">Tiendas Oficiales</a></li>
            <li><a href="#Vender">Vender</a></li>
            <li><a href="#Ayuda">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#Creá tu cuenta">Creá tu cuenta</a></li>
            <li><a href="#Ingresá">Ingresá</a></li>
            <li><a href="#Mis compras">Mis compras</a></li>
        </ul>
      </header>
    
    <main>
        <div class="home-banner"><img src="/images/img-home-banner.jpg" alt="img-home-banner" width="320px"></div>

        <div class="container"><h2>Basado en tu última visita</h2>
            <div class="box-item"><img src="/images/img-cafetera-moulinex.jpg" alt="img-item" width="320px">
            
            <span>$6.770</span>
            <p>40% OFF</p>
            <h3>Cafetera Moulinex</h3></div>

            <div class="box-item"><img src="/images/img-macbook-pro-2019.jpg" alt="img-item" width="320px">
            
            <span>$230.000</span>
            <p>20% OFF</p>
            <h3>MacBook Pro 2019</h3></div>

            <div class="box-item"><img src="/images/img-samsung-galaxy-s10.jpg" alt="img-item" width="320px">
            
            <span>$70.500</span>
            <p>10% OFF</p>
            <h3>Samsung Galaxy S10</h3></div>

            <div class="box-item"><img src="/images/img-tv-samsung-smart.jpg" alt="img-item" width="320px">
            
            <span>$23.200</span>
            <p>5% OFF</p>
            <h3>SmartTv Samsung 43"</h3></div>
        </div>
        <br>
        <div class="container"><h2>Sección de Ofertas</h2>
            <div class="box-item"><img src="/images/img-cafetera-moulinex.jpg" alt="img-item" width="320px">
            
            <span>$6.770</span>
            <p>40% OFF</p>
            <h3>Cafetera Moulinex</h3></div>

            <div class="box-item"><img src="/images/img-macbook-pro-2019.jpg" alt="img-item" width="320px">
            
            <span>$230.000</span>
            <p>20% OFF</p>
            <h3>MacBook Pro 2019</h3></div>

            <div class="box-item"><img src="/images/img-samsung-galaxy-s10.jpg" alt="img-item" width="320px">
            
            <span>$70.500</span>
            <p>10% OFF</p>
            <h3>Samsung Galaxy S10</h3></div>

            <div class="box-item"><img src="/images/img-tv-samsung-smart.jpg" alt="img-item" width="320px">
            
            <span>$23.200</span>
            <p>5% OFF</p>
            <h3>SmartTv Samsung 43"</h3></div>
        </div>
    </main>
    <br>
    <footer>
        <div class="footer-item-box">
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer-item-box">
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer-item-box">
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <div class="footer-item-box">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>
</html>